.center-container {
    display: flex;
    justify-content: center;   /* Căn giữa theo chiều ngang */
    align-items: center;       /* Căn giữa theo chiều dọc */
    height: 60vh;             /* Chiều cao của container bằng chiều cao của viewport */

   
}
