<p-toast></p-toast>


  

<!-- Header -->
<div class="flex align-items-center justify-content-between pt-2 pb-1">
    <div style="display: flex; align-items: center;">
      <p-avatar [image]="srcImage + 'inventory.png'" size="normal"  />
      <h3 class=" ml-4 text-2xl text-indigo-700">Inventory</h3>
    </div>
    <button pButton icon="pi pi-times" class="p-button-rounded p-button-text" (click)="cancel()" style="height: 36px;"></button>
</div>
<div *ngIf="isLoading" class="dialog-loading-overlay flex justify-content-center">
    <p-progressSpinner ariaLabel="Loading"></p-progressSpinner>
  </div>
<!-- Form -->
    <form class="card" *ngIf="inventoryForm" [formGroup] = "inventoryForm">
        <div class="flex align-items-center gap-3 mb-3">
            <label class="font-semibold w-3">Medical Supplies  </label>
            <div class = "flex-auto">
                <p-dropdown formControlName = "medicineName" optionLabel="medicineName" 
                 (onChange)="onMedicineChange($event)"  class="w-full" [options]="medicalSupplies"
                  appendTo="body"
                 [style]="{'line-height':'0','width':'100%', 'padding':'0px !important'}">
                </p-dropdown>
            </div>
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label class="font-semibold w-3">Unit Price</label>
            <input type="text" class="flex-auto" pInputText formControlName="unitPrice" >
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label class="font-semibold w-3">Quantity    </label>
            <input type="text" class="flex-auto" pInputText formControlName="quantity" appOnlyNumber/>
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label class="font-semibold w-3">Status    </label>
            <div class = "flex-auto">
                <p-dropdown formControlName = "status" optionLabel="valueData"   class="w-full" [options]="statusList" appendTo="body"
                 [style]="{'width':'100%', 'padding':'0px !important'}">
                  <ng-template pTemplate="selectedItem" let-selected>
                    <div class="flex align-items-center gap-2" style="margin-top: -8px;" *ngIf="selected" >
                        <img 
                        [src]="srcImage + getImageName(selected.valueData)"
                        style="width: 18px;height: 18px;" />
                        <div>{{ selected.valueData }}</div>
                    </div>
                </ng-template>
                <ng-template let-data pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <img 
                    [src]="srcImage + getImageName(data.valueData)"
                    style="width: 18px" />
                    <div>{{ data.valueData }}</div>
                </div>
                </ng-template>
                </p-dropdown>
            </div>
        </div>

        <div class="flex align-items-center gap-3 mb-3">
            <label class="font-semibold w-3">Location    </label>
            <div class = "flex-auto">
                <p-dropdown formControlName = "location" optionLabel="valueData"   class="w-full"
                 [options]="locationList" appendTo="body"
                 [style]="{'line-height':'0','width':'100%', 'padding':'0px !important'}">
              <ng-template pTemplate="selectedItem" let-selected>
                    <div class="flex align-items-center gap-2" style="margin-top: -8px;" *ngIf="selected" >
                        <img 
                        [src]="srcImage + getImageName(selected.valueData)"
                        style="width: 18px;height: 18px;" />
                        <div>{{ selected.valueData }}</div>
                    </div>
                </ng-template>
                <ng-template let-data pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <img 
                    [src]="srcImage + getImageName(data.valueData)"
                    style="width: 18px" />
                    <div>{{ data.valueData }}</div>
                </div>
                </ng-template>
                </p-dropdown>
            </div>
        </div>

        <!-- <div class="flex align-items-center gap-3 mb-3">
            <label class="font-semibold w-3">Created By    </label>
            <input type="text" class="flex-auto" pInputText formControlName="createdBy" [readOnly]="true" />
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label class="font-semibold w-3">Created At    </label>
            <input type="text" class="flex-auto" pInputText formControlName="createdAt" [readOnly]="true" />
        </div> -->
        <div class="flex justify-content-end gap-3 mb-3">
            <p-confirmDialog key="dialogForm" [styleClass]="'w-6'">
                <ng-template pTemplate="header">
                    <div class="flex flex-column align-items-center w-full gap-3">
                        <span class="flex justify-content-between w-full">
                            <p>Are you sure</p>
                            <!-- Button to close the dialog with "X" -->
                            <button type="button" class="p-link" (click)="closeDialog()">
                                <i class="pi pi-times"></i> <!-- "X" icon -->
                            </button>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="message" let-message>
                    <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
                        <i class="pi pi-exclamation-triangle text-6xl text-primary-500"></i>
                        <p>{{ message.message }}</p>
                    </div>
                </ng-template>
            </p-confirmDialog>
            <p-button class="flex justify-content-center btn-bg" *ngIf="isEdit" (click)="edit()" icon="pi pi-user-edit" label="Edit"
            [raised]="true" ></p-button>
            <p-button icon="pi pi-save" (click)="add()" label="Save" *ngIf="!isEdit" [raised]="true" class="btn-bg" [disabled]="!isSave"></p-button>
        </div>
</form>