<p-toolbar>
    <ng-template pTemplate="start">
        <img [src]="srcImage + 'logo.png'"  class="logo-img" />
    </ng-template>

    <ng-template pTemplate="center">
        <p-carousel 
  [value]="messages" 
  [numVisible]="1" 
  [numScroll]="1" 
  [circular]="true"
  [autoplayInterval]="4000"
  [showIndicators]="false" 
  class="max-w-29rem"
  [showNavigators]="false">
  <ng-template pTemplate="item" let-msg>
    <div class="banner">
      {{ msg }}
    </div>
  </ng-template>
</p-carousel>

    </ng-template>

    <ng-template pTemplate="end">
        <div class="flex align-items-center gap-2" style="position: relative;">
            <p-avatar 
                [image]="srcImage + 'customer.png'" 
                shape="circle" />
            
            <!-- wrapper hover -->
            <div class="hover-wrapper" style="position: relative;">
                <span class="font-semibold text-lg text-white healthcare-text" i18n="@@header_title">                  
                    Healthcare System
                </span>
            <div class="user-area">
                <div class="user-header flex align-items-center justify-content-center">
                    <span class="text-gray-800 capitalize">{{ userName }}</span>
                    <p-button icon="pi pi-cog" [text]="true" [rounded]="true" (click)="config()">
                    </p-button>
                </div>
                <button class="logout-btn" [routerLink]="['/logout']">Logout</button>
            </div>
            
            </div>
        </div>
    </ng-template>
</p-toolbar>
