
  <p-toolbar>
      <ng-template pTemplate="start">
          <img src="/assets/images/logo.png" width="180px" height="43px"  />
      </ng-template>
      <ng-template pTemplate="center">
          <span class="p-input-icon-left w-full max-w-25rem flex justify-content-center align-items-center">
              <i class="pi pi-search"></i>
              <input pInputText placeholder="Search" class="w-full border-round-3xl h-2rem" />
          </span>
          
      </ng-template>
   
      <ng-template pTemplate="end">
          <div class="flex align-items-center gap-2">
              <p-avatar 
                  image="/assets/images/customer.png" 
                  shape="circle" />
              <span class="font-semibold text-lg text-white">                  
                  Healthcare System
              </span>
          </div>
      </ng-template>
  </p-toolbar>
</div>