
  
  .footer-content {
    background-color: var(--footer-color);
    text-align: center;
    padding: 2px;
    font-size: 14px;
    color: var(--text-color);
    border-top: 1px solid var(--color-border);
  }
  
  .footer-text a {
    color: var(--primary-color);
    text-decoration: none;
    margin: 0 5px;
  }
  
  .footer-text a:hover {
    text-decoration: underline;
  }
  