<div class="flex justify-content-center align-items-center" style="margin-top: 5%;">
    <p-card header="404 - Không tìm thấy trang" class="w-6">
      <div class="p-text-center p-my-5">
        <i class="pi pi-exclamation-triangle" style="font-size: 4rem; color: var(--primary-color);"></i>
        <h2>Oops! Trang không tồn tại.</h2>
        <p>Vui lòng kiểm tra lại đường dẫn.</p>
        <a routerLink="" class="p-button font-bold">
          Về trang chủ
        </a>
      </div>
    </p-card>
  </div>
  