<p-toast></p-toast>
<div class="card">
    <form [formGroup] = "suppliesForm">
        <div class="flex align-items-center gap-3 mb-3">
            <label for="" class="text-gray-800 w-4">Medicine Name</label>
            <input type="text" class="flex-auto" pInputText formControlName = 'medicineName'/>
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="" class="text-gray-800 w-4">Medical Examination Day</label>
            <input type="text" class="flex-auto" pInputText formControlName = 'quantity'/>
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="" class="text-gray-800 w-4">Time Register</label>
            <input type="text" class="flex-auto" pInputText formControlName="unitPrice" appVndFormatter/>
        </div>
        <ng-container 
            *ngTemplateOutlet="imageRef; context: { item:
                {imageUrl:images,header:'Image'} }"
                ngClass="mt-5" >
        </ng-container>
        <ng-container *ngTemplateOutlet="imageThumbnailRef; context: { item: { imageUrl: images, header: 'Thumbnail' } }" ngClass="mt-5">
        </ng-container>
        <div class="flex align-items-center gap-3 mb-3 mt-3">
            <label for="" class="text-gray-800 w-4">Image</label>
            <p-fileUpload chooseLabel="Attached" chooseIcon="pi pi-images"  (onSelect)="onUpload($event)" class="flex-auto"  
            [auto]="false" [showUploadButton]="false" #fileUpload [showCancelButton]="true"> </p-fileUpload> 
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="" class="text-gray-800 w-4">Thumbnail</label>
            <p-fileUpload #fileUploadThumbnail chooseLabel="Attached" chooseIcon="pi pi-images" [multiple]="true" class="flex-auto"
                (onSelect)="onUploadThumbnail($event)"
                [auto]="false" [showUploadButton]="false"
                [showCancelButton]="true"> </p-fileUpload> 
        </div>
        <div class="flex justify-content-end gap-3 mb-3 mt-6">
            <p-button class="btn-bg" [raised]="true" (click)="save()" icon="pi pi-check" label="Save"></p-button>
            <p-confirmDialog [styleClass]="'w-6'">
                <ng-template pTemplate="header">
                    <div class="flex flex-column align-items-center w-full gap-3">
                        <span class="flex justify-content-between w-full">
                            <p>Are you sure</p>
                            <!-- Button to close the dialog with "X" -->
                            <button type="button" class="p-link" (click)="closeDialog()">
                                <i class="pi pi-times"></i> <!-- "X" icon -->
                            </button>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="message" let-message>
                    <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
                        <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
                        <p>{{ message.message }}</p>
                    </div>
                </ng-template>
            </p-confirmDialog>
            <p-button class="btn-cancel" [raised]="true" (click)="confirm()" icon="pi pi-trash" label="Delete"></p-button>
            <p-button class="btn-cancel" [raised]="true" (click)="close()" icon="pi pi-times" label="Close"></p-button>
        </div>
    </form>
</div>

<ng-template #imageRef let-item="item">
    <p-fieldset [toggleable]="true">
        <ng-template pTemplate="header">
            <div class="flex items-center gap-2 px-2">
                <p-avatar
                    image="assets/images/picture.png" shape="circle" />
                <span class="font-bold">{{item.header}}</span>
            </div>
          </ng-template>
          <div class="flex justify-content-center">  
                 <img [src] = "urlImage + dataDialog.medicineName + '/' + dataDialog.link" width="80" height="80" class="ml-5 overflow-hidden" />
                <p-button class="ml-2" (click)="removeImage()" icon="pi pi-times"   pTooltip="Remove" [text]="true"
                tooltipPosition="right" ></p-button>             
          </div>
</p-fieldset>
</ng-template>

<ng-template #imageThumbnailRef let-item="item">
    <p-fieldset [toggleable]="true">
        <ng-template pTemplate="header">
            <div class="flex items-center gap-2 px-2">
                <p-avatar
                    image="assets/images/picture.png" shape="circle" />
                <span class="font-bold">{{item.header}}</span>
            </div>
          </ng-template>
          <div class="flex justify-content-center flex-wrap">  
            <ng-container *ngFor="let data of item.imageUrl; let i = index">
                <img [src]="data.itemImageSrc" width="80" height="80" class="ml-5 overflow-hidden" />
                <p-button class="ml-2" (click)="remove(data,i)" icon="pi pi-times"   pTooltip="Remove" [text]="true"
                tooltipPosition="right" ></p-button>
            </ng-container>              
          </div>
</p-fieldset>
</ng-template>