:host {
  display: block;
  height: 100vh;
}

.p-listbox {
  border: none !important;
}

.p-tag {
  max-width: 80%;
  white-space: normal;
  word-wrap: break-word;
}

::ng-deep .p-listbox-list-wrapper {
   max-height: calc(100vh - 300px) !important;
}
