<p-toast></p-toast>
<div class="flex h-full border-round-xl overflow-hidden surface-card">
  <!-- DANH SÁCH USER -->
  <div class="w-3 border-right-1 surface-border p-3">
    <h3 class="text-center mb-3">👥 Danh sách khách hàng</h3>
    <p-listbox [options]="users" [(ngModel)]="selectedUser" optionLabel="username" (onChange)="selectUser($event.value)"
      [style]="{width: '100%', height: '100%'}">
     <ng-template let-user pTemplate="item">
  <div class="flex align-items-center gap-3 p-2 w-full">
    <!-- ICON USER -->
    <div class="flex-shrink-0">
      <i class="pi pi-user-chat text-primary text-3xl"></i>
    </div>

    <!-- THÔNG TIN USER -->
    <div class="flex flex-column flex-1 min-w-0">
      <div class="font-semibold text-base text-900">{{ user.username }}</div>

      <div class="flex align-items-center justify-content-between">
        <small class="text-500 text-truncate flex-1 mr-2" style="max-width: 200px;">
          {{ user.lastMessage || 'Chưa có tin nhắn' }}
        </small>

        <span *ngIf="user.unreadCount > 0" class="unread-badge">
          {{ user.unreadCount }}
        </span>
      </div>
    </div>
  </div>
</ng-template>

    </p-listbox>
  </div>

  <!-- KHU VỰC CHAT -->
  <div class="flex-1 flex flex-column p-3">
    <ng-container *ngIf="selectedUser; else noUserSelected">
      <div class="flex align-items-center justify-content-between border-bottom-1 pb-2 surface-border mb-2">
        <div class="font-bold text-lg">
          💬 {{ selectedUser.username }}
        </div>
      </div>

      <div class="flex-1 overflow-auto p-2" style="max-height: calc(100vh - 200px); scroll-behavior: smooth;"
        #chatMessages>
        <div *ngFor="let msg of messages;let i = index" class="mb-2">
          <div [ngClass]="{
              'text-right': msg.username === 'tuannd',
              'text-left': msg.username !== 'tuannd'
            }">
            <p-tag [severity]="msg.username === 'tuannd' ? 'info' : 'success'" [rounded]="true">
              <strong>{{ msg.username }}:</strong> {{ msg.message }}
            </p-tag>
          </div>
          <div *ngIf="i == isNumberMessageOld - 1"
            class="relative flex align-items-center justify-content-center my-3 w-full">
            <div class="line flex-shrink-0"></div>
            <span class="px-2 text-500 text-sm">Tin nhắn cũ</span>
            <div class="line flex-shrink-0"></div>
          </div>

        </div>

      </div>

      <div class="flex mt-2 gap-2">
        <input pInputText [(ngModel)]="newMessage" placeholder="Nhập tin nhắn..." class="flex-1"
          (keydown.enter)="sendMessage()" />
        <p-button icon="pi pi-send" (click)="sendMessage()" [disabled]="!newMessage"></p-button>
      </div>
    </ng-container>

    <ng-template #noUserSelected>
      <div class="flex align-items-center justify-content-center h-full text-500">
        <p>👈 Chọn một khách hàng để bắt đầu chat</p>
      </div>
    </ng-template>
  </div>
</div>