:host{
    display: flex;
    justify-content: center;
}

:ng-deep p-button{
    background: none;
}
.summary-row {
    color: #007bff; /* màu xanh (Bootstrap blue) */
    //font-weight: 600; /* in đậm nếu muốn */
    background-color: #e6f0ff; /* background nhạt xanh nếu thích */
    background: #a8d1ff;
  }
  