:host{
    display: flex;
    justify-content: center;
}

:ng-deep p-button{
    background: none;
}
.summary-row {
    color: #007bff; /* màu xanh (Bootstrap blue) */
    //font-weight: 600; /* in đậm nếu muốn */
    background-color: #e6f0ff; /* background nhạt xanh nếu thích */
    background: #a8d1ff;
  }
  
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7); // mờ nhẹ
    z-index: 9999; // lớn hơn table, button...
    display: flex;
    align-items: center;
    justify-content: center;
  }
  