
<div *ngIf="isLoading" class="loading-overlay flex justify-content-center">
  <p-progressSpinner ariaLabel="Loading"></p-progressSpinner>
</div>

<div class="card w-10 mt-2">

    <div class="flex justify-content-center w-full">
        <div class="bg flex align-items-center justify-content-center w-full h-6rem p-4">
          <div class="flex align-items-center gap-4 w-full">
            <h4 class="text-indigo-700 m-0 w-4 flex justify-content-start text-xl">Inventory Management</h4>
            <p-calendar class=" h-2rem w-3" [(ngModel)]="fromDate"
             [style]="{'line-height':'0.5rem','height':'2rem','padding':'0px !important'}"></p-calendar>
            <p-calendar class="ml-2 h-2rem w-3" [(ngModel)]="toDate"
             [style]="{'line-height':'0.5rem','height':'2rem','padding':'0px !important'}"></p-calendar>
            <div class="w-2 flex justify-content-end align-items-center ml-auto gap-3">  
                <!-- <p-iconField iconPosition="left">
                    <p-inputIcon styleClass="pi pi-search" />
                    <input type="text" class="border-round-3xl h-2rem w-12" [(ngModel)]="searchText"
                 pInputText placeholder="search" (keydown)="searchResult($event,dt1)" />
                </p-iconField> -->
                  <div class="flex gap-2">
                      <p-button type="button" label="Search" [rounded]="true" (click)="search(dt1)"></p-button>
                      <p-button type="button" [rounded]="true" label="Add" icon="pi pi-plus" (click)="add()"></p-button>
                      <!-- <p-button type="button" [rounded]="true" label="Export" icon="pi pi-export" (click)="export()"></p-button> -->
                  </div>
            </div>
          </div>
        </div>
    </div>


  <p-table #dt1 [value]="filterSupplies" [paginator]="true" class="w-full" [rows]="row"
   [rowsPerPageOptions]="[5,10,20]" (onFilter)="onTableFilter($event)"
    styleClass="p-datatable-sm" [columns]="columnTitles">
        <ng-template pTemplate="header">
        <tr class="fade-slide-in">
            <th *ngFor="let item of columnTitles" [ngClass]="item.classHeader">{{ item.title }}</th>
        </tr>
        <tr>
          <th></th>
          <th colspan="2">
              <p-columnFilter type="text" field="medicineName" placeholder="Search Name" ariaLabel="Filter Medicine Name" [matchMode]="'contains'" [showMenu]="false"/>
          </th>
          <th colspan="7"></th>
      </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr [ngClass]="{'summary-row': rowData.recordType === 'SUMMARY'}" class="fade-slide-in">
              <ng-container *ngIf="rowData.recordType == 'SUMMARY'; else detailRow">
                <td class="text-center ">
                  {{ rowIndex + 1 }}
                </td>
                <td class = "">{{rowData.medicineName}}</td>
                <td class="text-center text-red-500 ">{{rowData.totalQuantity}}</td>
                <td class="">
                <div class="flex justify-content-center align-items-center gap-2">
                  <img [src]="srcImage + getImageName(rowData.location)" style="width: 18px" />
               <div>{{ rowData.location}}</div>
               </div>
               </td>
                <td colspan="3" class=""></td>
                <td class=" text-center pl-5 pr-5">
                  <span class="p-button flex justify-content-center" 
                    [ngClass]="{'bg-active': rowData.status == 'in_stock', 'bg-disable': rowData.status != 'in_stock'}">
                  {{ rowData.status }}
                  </span>
                </td>
                <td colspan="2"></td>
              </ng-container>
              <ng-template #detailRow>
              <td *ngFor="let col of columnTitles" [ngClass]="col.class">
               <ng-container [ngSwitch]="col.field">
                  <span *ngSwitchCase="'index'">{{ rowIndex + 1 }}</span>  
                  <span *ngSwitchCase="'status'" class="p-button flex justify-content-center"
                    [ngClass]="{
                      'bg-active': rowData.status == 'in_stock',
                      'bg-disable': rowData.status != 'in_stock'
                    }">
                    {{ rowData.status }}
                  </span>
                  <span *ngSwitchCase="'action'">
                      <p-button class="" (click)="show(rowData)" icon="pi pi-eye"  [text]="true"></p-button> 
                  </span>
                  <span *ngSwitchCase="'location'">
                      <div class="flex justify-content-center align-items-center gap-2">
                       <img 
                    [src]="srcImage + getImageName(rowData[col.field] )"
                    style="width: 18px" />
                    <div>{{ rowData[col.field] }}</div>
                    </div>
                  </span>
                  <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                </ng-container> 
              </td>
            </ng-template>
            </tr>
          </ng-template>
      
        <ng-template  pTemplate="emptymessage" let-sMedicals>
            <tr>
                <td [attr.colspan]="columnTitles.length" class="text-center">
                    Data not found
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
              <td></td>
              <td colspan="4">In Stock: {{inStock}} Total In Stock: {{totalInStock}}</td>
              <td colspan="5">Out Stock: {{outStock}} Total Out Stock: {{totalOutStock}}</td>
            </tr>
       </ng-template>
    </p-table>
</div>

