<p-toast></p-toast>
<form class="card grid col-12 mt-1 flex justify-content-center" [formGroup] = "suppliesForm">
    <p-panel class="col-6">
        <ng-template pTemplate="header" >
            <div class="flex align-items-center gap-2 w-full">
                <p-avatar 
                    image="/assets/images/medicalsupplies.png" size="normal" 
                     />
                <span class="font-bold text-xl text-blue-700">
                    Medical Supplies Form
                </span>
            </div>
        </ng-template>

        <div class="field grid">
            <div class="col-3 font-semibold line-height-4 custom-label">
                <label for="">Medicine Name</label>
            </div>
            <input type="text" pInputText class="col-12 mb-2 md:col-9 md:mb-0 h-2rem" formControlName="medicineName" />
        </div>
        <div class="field grid">
            <div class="col-3 font-semibold line-height-4 custom-label">
                <label for="">Quantity</label>
            </div>
            <input type="text" pInputText class="col-12 mb-2 md:col-9 md:mb-0 h-2rem" formControlName="quantity"/>
        </div>
        <div class="field grid">
            <div class="col-3 font-semibold line-height-4 custom-label">
                <label for="">UnitPrice</label>
            </div>
            <input type="text" pInputText class="col-12 mb-2 md:col-9 md:mb-0 h-2rem" formControlName="unitPrice" appVndFormatter/>
        </div>
        <div class="field grid">
            <div class="col-3 font-semibold line-height-4 custom-label">
                <label for="">Image</label>
            </div>
            <div class="col-12 mb-2 md:col-9 md:mb-0 p-0">
                <p-fileUpload chooseLabel="Attached" chooseIcon="pi pi-images"  (onSelect)="onUpload($event)"  
                         [auto]="false" [showUploadButton]="false" #fileUpload
                [showCancelButton]="true"> </p-fileUpload> 
            </div>
        </div>
        <div class="field grid">
            <div class="col-3 font-semibold line-height-4 custom-label">
                <label for="">Thumbnail</label>
            </div>
            <div class="col-12 mb-2 md:col-9 md:mb-0 p-0">
                <p-fileUpload #fileUploadThumbnail chooseLabel="Attached" chooseIcon="pi pi-images" [multiple]="true"  (onSelect)="onUploadThumbnail($event)"
                     [auto]="false" [showUploadButton]="false"
                [showCancelButton]="true"> </p-fileUpload> 
            </div>
        </div>
        <div class="field grid">
            <div class="col-3 font-semibold line-height-4 custom-label">
                <label for="">Description</label>
            </div>
            <div class="col-12 mb-2 md:col-9 md:mb-0 p-0">
                <p-editor formControlName="description" [style]="{ height: '8rem' }" />
            </div>
        </div>
        <div class="field grid flex justify-content-end">
                <input type="button" value="Add" pButton (click)="addsupplies()" [raised]="true"  class="w-2"/>
        </div>
    </p-panel>

</form>