<p-toast></p-toast>
<form class="card grid col-12 mt-1 flex justify-content-center" [formGroup] = "suppliesForm">
    <p-panel class="col-5">
        <ng-template pTemplate="header" >
            <div class="flex align-items-center gap-2 w-full">
                <p-avatar 
                    image="/assets/images/medicalsupplies.png" 
                    size="normal" 
                     />
                <span class="font-bold text-xl custom-label">
                    Medical Supplies Form
                </span>
            </div>
        </ng-template>

        <div class="field grid">
            <div class="col-3 font-semibold line-height-4 custom-label">
                <label for="">Label :</label>
            </div>
            <input type="text" pInputText class="col-12 mb-2 md:col-9 md:mb-0 h-2rem" formControlName="medicineName" />
        </div>
        <div class="field grid">
            <div class="col-3 font-semibold line-height-4 custom-label">
                <label for="">Quantity :</label>
            </div>
            <input type="text" pInputText class="col-12 mb-2 md:col-9 md:mb-0 h-2rem" formControlName="quantity"/>
        </div>
        <div class="field grid">
            <div class="col-3 font-semibold line-height-4 custom-label">
                <label for="">UnitPrice :</label>
            </div>
            <input type="text" pInputText class="col-12 mb-2 md:col-9 md:mb-0 h-2rem" formControlName="unitPrice" appVndFormatter/>
        </div>
        <div class="field grid">
            <div class="col-3 font-semibold line-height-4 custom-label">
                <label for="">Image :</label>
            </div>
            <!-- 
            /> -->
            <div class="col-12 mb-2 md:col-9 md:mb-0 p-0">
                <p-toast />
                 <p-fileUpload chooseLabel="Attached" chooseIcon="pi pi-images"  (onSelect)="onUpload($event)"
                        url= "http://localhost:8085/api/upload/file" [auto]="false" [showUploadButton]="false"
                 [showCancelButton]="true"> </p-fileUpload> 

            </div>

        </div>
        <div class="field grid flex justify-content-end">
                <input type="button" value="Add" pButton (click)="addsupplies()" [raised]="true"  class="w-2"/>
        </div>
    </p-panel>

</form>