<p-toast></p-toast>
<form class="card grid col-12 mt-1" [formGroup] = "suppliesForm">
    <div class="col-4"></div>
    <p-panel header="Supplies" class="col-4">
        <div class="field grid">
            <div class="col-12 mb-2 md:col-3 md:mb-0 line-height-4">
                <label for="">Label :</label>
            </div>
            <input type="text" pInputText class="col-12 mb-2 md:col-9 md:mb-0 h-2rem" formControlName="medicineName"/>
        </div>
        <div class="field grid">
            <div class="col-12 mb-2 md:col-3 md:mb-0 line-height-4">
                <label for="">Quantity :</label>
            </div>
            <input type="text" pInputText class="col-12 mb-2 md:col-9 md:mb-0 h-2rem" formControlName="quantity"/>
        </div>
        <div class="field grid">
            <div class="col-12 mb-2 md:col-3 md:mb-0 line-height-4">
                <label for="">UnitPrice :</label>
            </div>
            <input type="text" pInputText class="col-12 mb-2 md:col-9 md:mb-0 h-2rem" formControlName="unitPrice"/>
        </div>
        <div class="field grid">
            <div class="col-12 mb-2 md:col-3 md:mb-0 line-height-4">
                <label for="">Image :</label>
            </div>
            <!-- 
            /> -->
            <div class="col-12 mb-2 md:col-9 md:mb-0 p-0">
                <p-toast />
                <p-fileUpload chooseLabel="Attached"
                chooseIcon="pi pi-images" 
              
               (onSelect)="onUpload($event)"
               url= "http://localhost:8085/api/upload/file" [auto]="false" [showUploadButton]="true" [showCancelButton]="true">
               <ng-template pTemplate="buttonbar">
                    <button pButton type="button" icon="pi pi-upload" label="Upload" class="custom-button"></button>
                    <button pButton type="button" icon="pi pi-times" label="Cancel" class="custom-button"></button>
                </ng-template>
            </p-fileUpload>
            </div>

        </div>
        <div class="field grid">
            <div class="col-12 md:col-10">
                <input type="button" value="Add" pButton (click)="addsupplies()" [raised]="true" class="custom-button" />
            </div>
        </div>
    </p-panel>
    <div class="col-4"></div>
</form>