

/* Lựa chọn phần tử có class .pi-medicalsupplies */

$urlEnvironment: '/assets/images/';
//$urlEnvironment: '/fe-customermanagement/assets/images/';

@mixin icon-base {
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
    display: inline-block;
}

$icons: (
    'pi-medicalsupplies': 'medicalsupplies.png',
    'pi-backup': 'backup.png',
    'pi-register': 'register.png',
    'pi-listregister': 'listregister.png',
    'pi-historymenu': 'history.png',
    'pi-admin': 'admin.png',
    'pi-createtime': 'createtime.png',
    'pi-money': 'money.png',
    'pi-test': 'test.png',
    'pi-customer': 'customer.png',
    'pi-listmedical': 'list.png',
    'pi-add': 'add.png',
    'pi-createuser': 'createuser.png',
    'pi-admenu': 'menuheader.png',
    'pi-clockhistory': 'clock.png'
);

@each $class, $file in $icons {
    .#{$class} {
        @include icon-base;
        background-image: url(#{$urlEnvironment}#{$file});
    }
}






.p-menubar{
    border-radius: 0;
    border: none;
    padding: 0 ;
    width: 100% ;
}

