/* Lựa chọn phần tử có class .pi-medicalsupplies */
.pi-medicalsupplies {
    background-image: url('/assets/images/medicalsupplies.png');  /* Đường dẫn đến hình ảnh */
    background-size: cover;  /* Đảm bảo hình ảnh bao phủ toàn bộ phần tử */
    background-position: center;  /* Căn giữa hình ảnh */
    width: 20px;  /* Chiều rộng của icon */
    height: 20px; /* Chiều cao của icon */
    display: inline-block;  /* Đảm bảo phần tử có thể hiển thị như icon */
}

.pi-backup {
    background-image: url('/assets/images/backup.png');  /* Đường dẫn đến hình ảnh */
    background-size: cover;  /* Đảm bảo hình ảnh bao phủ toàn bộ phần tử */
    background-position: center;  /* Căn giữa hình ảnh */
    width: 20px;  /* Chiều rộng của icon */
    height: 20px; /* Chiều cao của icon */
    display: inline-block;  /* Đảm bảo phần tử có thể hiển thị như icon */
}

.pi-register {
    background-image: url('/assets/images/register.png');  /* Đường dẫn đến hình ảnh */
    background-size: cover;  /* Đảm bảo hình ảnh bao phủ toàn bộ phần tử */
    background-position: center;  /* Căn giữa hình ảnh */
    width: 20px;  /* Chiều rộng của icon */
    height: 20px; /* Chiều cao của icon */
    display: inline-block;  /* Đảm bảo phần tử có thể hiển thị như icon */
}
.pi-listregister {
    background-image: url('/assets/images/listregister.png');  /* Đường dẫn đến hình ảnh */
    background-size: cover;  /* Đảm bảo hình ảnh bao phủ toàn bộ phần tử */
    background-position: center;  /* Căn giữa hình ảnh */
    width: 20px;  /* Chiều rộng của icon */
    height: 20px; /* Chiều cao của icon */
    display: inline-block;  /* Đảm bảo phần tử có thể hiển thị như icon */
}

.pi-history {
    background-image: url('/assets/images/history.png');  /* Đường dẫn đến hình ảnh */
    background-size: cover;  /* Đảm bảo hình ảnh bao phủ toàn bộ phần tử */
    background-position: center;  /* Căn giữa hình ảnh */
    width: 20px;  /* Chiều rộng của icon */
    height: 20px; /* Chiều cao của icon */
    display: inline-block;  /* Đảm bảo phần tử có thể hiển thị như icon */
}

.pi-money {
    background-image: url('/assets/images/money.png');  /* Đường dẫn đến hình ảnh */
    background-size: cover;  /* Đảm bảo hình ảnh bao phủ toàn bộ phần tử */
    background-position: center;  /* Căn giữa hình ảnh */
    width: 20px;  /* Chiều rộng của icon */
    height: 20px; /* Chiều cao của icon */
    display: inline-block;  /* Đảm bảo phần tử có thể hiển thị như icon */
}

.pi-test {
    background-image: url('/assets/images/test.png');  /* Đường dẫn đến hình ảnh */
    background-size: cover;  /* Đảm bảo hình ảnh bao phủ toàn bộ phần tử */
    background-position: center;  /* Căn giữa hình ảnh */
    width: 20px;  /* Chiều rộng của icon */
    height: 20px; /* Chiều cao của icon */
    display: inline-block;  /* Đảm bảo phần tử có thể hiển thị như icon */
}

.pi-customer {
    background-image: url('/assets/images/customer.png');  /* Đường dẫn đến hình ảnh */
    background-size: cover;  /* Đảm bảo hình ảnh bao phủ toàn bộ phần tử */
    background-position: center;  /* Căn giữa hình ảnh */
    width: 20px;  /* Chiều rộng của icon */
    height: 20px; /* Chiều cao của icon */
    display: inline-block;  /* Đảm bảo phần tử có thể hiển thị như icon */
}

.pi-listmedical {
    background-image: url('/assets/images/list.png');  /* Đường dẫn đến hình ảnh */
    background-size: cover;  /* Đảm bảo hình ảnh bao phủ toàn bộ phần tử */
    background-position: center;  /* Căn giữa hình ảnh */
    width: 20px;  /* Chiều rộng của icon */
    height: 20px; /* Chiều cao của icon */
    display: inline-block;  /* Đảm bảo phần tử có thể hiển thị như icon */
}

.pi-add {
    background-image: url('/assets/images/add.png');  /* Đường dẫn đến hình ảnh */
    background-size: cover;  /* Đảm bảo hình ảnh bao phủ toàn bộ phần tử */
    background-position: center;  /* Căn giữa hình ảnh */
    width: 20px;  /* Chiều rộng của icon */
    height: 20px; /* Chiều cao của icon */
    display: inline-block;  /* Đảm bảo phần tử có thể hiển thị như icon */
}

.p-menubar{
    //border: none;
    border-radius: 0;
    // border-bottom-left-radius: 10px;
    // border-bottom-right-radius: 10px;
    border: 1px solid #e5e7eb;
    border-top: none;
    padding: 0;
}