<div id="card" class="mt-5 mb-5">
    <p-progressSpinner ariaLabel="Loading" *ngIf="isLoading" [style]="{ 'margin-left': '48%' ,width: '50px', height: '50px'}" />
    <h4 style="margin-left: 25%;">List Of History Customer</h4>
    <div class="field grid">
        <div class="col-5" style="margin-left: 25%;display: inline;">
            <h4 style="display: inline-block;" class="col-12 mb-2 md:col-2 md:mb-0">Select Date:</h4>
            <p-calendar class="col-12 mb-2 col-6 md:mb-0 h-2rem" [(ngModel)]="date" [style]="{'line-height':'0.5rem','height':'2rem','padding':'0px !important'}"></p-calendar>
            <input type="button" pButton value="Search" class="h-2rem w-6rem" style="line-height: 0;" (click)="search()">
        </div>
    </div>

    <p-table [value]="sMoney" [paginator]="true" [rows]="8" [rowsPerPageOptions]="[8,10,20]" [tableStyle]="{'max-width':'50%','margin-left':'25%'}"
    styleClass ="p-datatable-gridlines p-datatable-sm mt-1">
    <ng-template pTemplate="header">
        <tr class="w-9">
            <th class="w-1" style="text-align: center;">STT</th>
            <th class="w-3" style="text-align: center;">Full Name</th>
            <th class="w-3" style="text-align: center;">Date Exam</th>
            <th class="w-2" style="text-align: center;">Money</th>
            <th class="w-2" style="text-align: center;">Status</th>
            <th class="w-3" style="text-align: center;">Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
        <tr>
            <td style="text-align: right;">{{rowIndex+1}}</td>
            <td style="text-align: left;">{{item.fullName}}</td>
            <td style="text-align: center;">{{item.dateExam}}</td>
            <td style="text-align: center;">{{item.totalMoney}}</td>
            <td style="text-align: center;">{{item.status}}</td>
            <td class="align-items-center justify-content-center flex">
                <p-button class="ml-1 flex align-items-center justify-content-center" (click)="show(item)" icon="pi pi-eye"
                outlined="true" severity="info" pTooltip="View" tooltipPosition="right"></p-button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-sMedicals>
        <tr>
            <td colspan="6" style="text-align: center;">
                No customers found
            </td>
        </tr>
    </ng-template>
    </p-table>
</div>