<p-toast></p-toast>
<div class="card flex justify-content-center w-full">
    <div class="w-6 p-2">
        <p-galleria 
            [value]="images" 
            
            [containerStyle]="{ 'max-width': '640px' }" 
            [numVisible]="5">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.itemImageSrc" width="300" height="300" />
                </ng-template>
                <ng-template pTemplate="thumbnail" let-item>
                    <div class="grid grid-nogutter justify-content-center">
                        <img [src]="item.thumbnailImageSrc" width="60" height="80" style="overflow:hidden"  />
                    </div>
                </ng-template>
        </p-galleria>
    </div>
    <div class="w-6 p-2 pl-8">
        <div class="container">
            <div class="flex-container">
                <div class="flex-item">
                    <h3 class="text-bold">Medicine Name </h3>
                    <span class="text-blue-600">{{medicineName}}</span>
                </div>
                <div class="flex-item">
                    <h3 class="text-bold">Price </h3>
                    <span class="text-blue-600">{{price}}</span>
                </div>
                <div class="flex-item">
                    <h3 class="text-bold">Remaining Quantity </h3>
                    <span class="text-blue-600">{{quantity}}</span>
                </div>
                <div class="flex-item">
                    <h3 class="text-bold">Description </h3>
                    <span>{{description}}</span>
                </div>
            </div>
    </div>
    </div>
</div>
