<p-toast></p-toast>
<div class="card">
    <form [formGroup] = "sMedicalExamForm">
        <span class="p-text-secondary block mb-5">Medical Examination</span>
        <div class="flex align-items-center gap-3 mb-3">
            <label class="font-semibold w-6rem">Full Name</label>
            <input type="text" class="flex-auto" pInputText formControlName="fullName" [readonly]="true">
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label class="font-semibold w-6rem">Medical Examination Day</label>
            <input type="text" class="flex-auto" pInputText formControlName="dayOfExamination" [readonly]="true">
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label class="font-semibold w-6rem">Time Register</label>
            <input type="text" class="flex-auto" pInputText formControlName="timeRegister" [readonly]="true">
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label class="font-semibold w-6rem">Status</label>
            <input type="text" class="flex-auto" pInputText formControlName="status" [readonly]="true">
        </div>

        <div *ngTemplateOutlet="symptonRef"></div>
        <div style="margin-top: 10px;">
        <div *ngTemplateOutlet="typeMedicineRef" ></div>
        </div>
        <!-- <div class="flex align-items-center gap-3 mb-3 mt-2">
            <label class="font-semibold w-6rem">Type Of Medicine</label>
            <input type="text" class="flex-auto" pInputTextarea formControlName="typeOfMedicine" [autoResize]="true" [readonly]="isReadOnly&&isUpdate">
            <div *ngIf="sMedicalExamForm.get('typeOfMedicine')?.touched && sMedicalExamForm.get('typeOfMedicine')?.invalid">
                <small *ngIf="sMedicalExamForm.get('typeOfMedicine')?.hasError('required')" class="p-error">Type Of Medicine is required.</small>
            </div>
        </div> -->
        <div class="flex align-items-center gap-3 mb-3 mt-5">
            <label class="font-semibold w-6rem">Total Money</label>
            <input type="text" class="flex-auto" pInputText formControlName="money" [readonly]="isReadOnly&&isUpdate" appVndFormatter>
        </div>
        <div class="flex justify-content-end gap-3 mb-3 mt-5">
            <p-button class="flex justify-content-center" *ngIf="isReadOnly&&isUpdate" (click)="edit()">Edit</p-button>
            <p-button class="flex justify-content-center" (click)="save()">Save</p-button>
            <p-button class="flex justify-content-center" (click)="close()">Close</p-button>
        </div>
    </form>
</div>

<ng-template  #symptonRef>
    <p-fieldset [toggleable]="true" >
        <ng-template pTemplate="header">
            <div class="flex items-center gap-2 px-2">
                <p-avatar
                    image="assets/images/symptoms.png"
                    shape="circle" />
                <span class="font-bold">Sympton</span>
            </div>
          </ng-template>
    <div [formGroup] = "symptonForm">
    <div formArrayName="symptons">
    <div class="flex align-items-center gap-3 mb-3" *ngFor="let input of symptons; let i = index">
    <label class="font-semibold w-6rem">Sympton {{i+1}}</label>
    <input pInputText class="flex-auto" [formControl]="input" id="input{{ i }}" type="text" />
</div>
<button pButton type="button" (click)="addSympton1()">Add</button>
</div>
</div>
</p-fieldset>
</ng-template>

<ng-template  #typeMedicineRef>
    <p-fieldset [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="flex items-center gap-2 px-2">
                    <p-avatar
                        image="assets/images/typemedicine.png"
                        shape="circle" />
                    <span class="font-bold">Type Of Medicine</span>
                </div>
              </ng-template>
    <div [formGroup] = "typeOfMedicineForm">
    <div formArrayName="typeMedicines">
    <div class="flex align-items-center gap-3 mb-3" *ngFor="let input of typeMedicines; let i = index">
    <label class="font-semibold w-6rem">Type Medicine {{i+1}}</label>
    <input pInputText class="flex-auto" [formControl]="input" id="input{{i}}" type="text" (keydown)="onKeyDown($event)" [pTooltip]="input?.hasError('required') ? 'Input is required.' : ''"
    tooltipPosition="top"/>
    <!-- <div *ngIf="input?.touched && input?.invalid">
        <small *ngIf="input?.hasError('required')" class="p-error">Input is required.</small>
      </div> -->
    <input pInputText class="flex-auto" [formControl]="moneys[i]" id="money{{i}}" type="text" (change)="onChange($event)" (keydown)="onKeyDown($event)" appVndFormatter [pTooltip]="input?.hasError('required') ? 'Input is required.' : ''"
    tooltipPosition="top" />
    <button pButton type="button" icon="pi pi-times" class="flex-auto" (click)="removeTypeMedicine(i)"></button>
</div>
<button pButton type="button" (click)="addTypeMedicine()">Add</button>
</div>
</div>
</p-fieldset>
</ng-template>