<p-toast [position]="'top-right'" [autoZIndex]="true" [baseZIndex]="10000"></p-toast>
<!-- <p-dialog-header>
    <ng-template pTemplate="header">
      <div style="display: flex; align-items: center;">
        <p-avatar image="/assets/images/medicalsupplies.png" size="normal"  />
        <span>Medical Examination</span>
      </div>
    </ng-template>
  </p-dialog-header>   -->

<div class="flex align-items-center justify-content-between pt-2 pb-1">
    <div style="display: flex; align-items: center;">
      <p-avatar image="/assets/images/examination.png" size="normal"  />
      <h3 class=" ml-4 text-2xl text-indigo-700">Medical Examination</h3>
    </div>
    <button pButton icon="pi pi-times" class="p-button-rounded p-button-text" (click)="close()" style="height: 36px;"></button>
</div>
<div class="card">
    <form [formGroup] = "sMedicalExamForm">

        <div class="flex align-items-center gap-3 mb-3">
            <label class="text-gray-800 w-4">Full Name</label>
            <input type="text" class="flex-auto text-primary" pInputText formControlName="fullName" [readonly]="true">
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label class="text-gray-800 w-4 ">Contact Phone Number</label>
            <input type="text" class="flex-auto text-primary" pInputText formControlName="phoneNumber" [readonly]="true">
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label class="text-gray-800 w-4">Medical Examination Day</label>
            <input type="text" class="flex-auto" pInputText formControlName="dayOfExamination" [readonly]="true">
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label class="text-gray-800 w-4">Time Register</label>
            <input type="text" class="flex-auto" pInputText formControlName="timeRegister" [readonly]="true">
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label class="text-gray-800 w-4">Status</label>
            <input type="text" class="flex-auto" pInputText formControlName="status" [readonly]="true">
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="" class="text-gray-800 w-4">Temperature (°C)</label>
            <input type="text" class="flex-auto" pInputText  formControlName = 'temperature'  />
            <div *ngIf="sMedicalExamForm.get('temperature')?.touched && sMedicalExamForm.get('temperature')?.invalid">
                <small *ngIf="sMedicalExamForm.get('temperature')?.hasError('required')" class="p-error">Temparature is required.</small>
            </div>
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="" class="text-gray-800 w-4">Health Condition</label>
            <input type="text" class="flex-auto" pInputText  formControlName = 'healthCondition'  />
            <div *ngIf="sMedicalExamForm.get('healthCondition')?.touched && sMedicalExamForm.get('healthCondition')?.invalid">
                <small *ngIf="sMedicalExamForm.get('healthCondition')?.hasError('required')" class="p-error">Health Condition is required.</small>
            </div>
        </div>
        <div *ngTemplateOutlet="symptonRef"></div>
        <div style="margin-top: 10px;">
        <div *ngTemplateOutlet="typeMedicineRef" ></div>
        </div>
        <div class="flex align-items-center gap-3 mb-3 mt-5">
            <label class="font-semibold w-6rem">Total Money</label>
            <input type="text" class="flex-auto" pInputText formControlName="money" [readOnly]="true"  appVndFormatter>
        </div>
        <div class="flex justify-content-end gap-3 mb-3 mt-5">
            <p-button class="flex justify-content-center btn-bg" *ngIf="isReadOnly&&isUpdate" (click)="edit()" icon="pi pi-user-edit" label="Edit"
            [raised]="true" ></p-button>
            <p-button class="flex justify-content-center btn-bg" (click)="save()" icon="pi pi-check" label="Save"
            [raised]="true" ></p-button>
            <p-button class="flex justify-content btn-cancel" (click)="close()" label="Close" icon="pi pi-times"
            [raised]="true" ></p-button>
        </div>
    </form>
</div>

<ng-template  #symptonRef>
    <p-fieldset [toggleable]="true" >
        <ng-template pTemplate="header">
            <div class="flex items-center gap-2 px-2">
                <p-avatar
                    image="/fe-customermanagement/assets/images/symptoms.png"
                    shape="circle" />
                <span class="font-bold">Sympton</span>
            </div>
          </ng-template>
    <div [formGroup] = "symptonForm">
    <div formArrayName="symptons">
    <div class="flex align-items-center gap-3 mb-3" *ngFor="let input of symptons.controls; let i = index">
    <label class="font-semibold w-6rem">Sympton {{i+1}}</label>
    <input pInputText class="flex-auto" [formControl]="input" id="input{{ i }}" type="text"
     [readonly]="isReadOnly&&isUpdate" (keydown)="addNewFormSympton($event)" #inputField />
</div>
<button pButton type="button" (click)="addSympton()" outlined="true" severity="info" pTooltip="Add" tooltipPosition="right" icon="pi pi-plus" ></button>
<button pButton class="ml-2" type="button" (click)="removeSympton()" outlined="true" severity="info" pTooltip="Renove" tooltipPosition="right" icon="pi pi-times" ></button>
</div>
</div>
</p-fieldset>
</ng-template>

<ng-template  #typeMedicineRef>
    <p-fieldset [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="flex items-center gap-2 px-2">
                    <p-avatar
                        image="/fe-customermanagement/assets/images/typemedicine.png"
                        shape="circle" />
                    <span class="font-bold">Type Of Medicine</span>
                </div>
              </ng-template>
    <div [formGroup] = "typeOfMedicineForm">
    <div formArrayName="typeMedicines">
    <div class="flex align-items-center gap-3 mb-3" *ngFor="let input of typeMedicines.controls; let i = index">
    <label class="font-semibold w-6rem">Type Medicine {{i+1}}</label>
    <p-dropdown [options]="sMedicalSupply" [formControl] = "input" (onChange)="onDropdownChange(i, $event)"
    placeholder="Select Medicine Supplies" [editable]="true" optionLabel="medicineName" class="w-8" #inputMedicine />
    <label class="font-semibold w-6rem">Quantity </label>
    <input pInputText class="flex-auto w-1" [formControl]="quantitys.at(i)" [readonly]="isReadOnly&&isUpdate" id="quantity{{i}}" type="text"  (keydown)="onKeyDown($event,i)" [pTooltip]="input?.hasError('required') ? 'Input is required.' : ''"
    tooltipPosition="top" />
    <label class="font-semibold w-6rem">Price </label>
    <input pInputText class="flex-auto w-3" [formControl]="moneys.at(i)" [readonly]="true" id="money{{i}}" type="text"  (keydown)="onKeyDown($event,i)" appVndFormatter [pTooltip]="input?.hasError('required') ? 'Input is required.' : ''"
    tooltipPosition="top" />

    <button pButton type="button" icon="pi pi-times" class="w-1" outlined="true" severity="info" pTooltip="Remove" tooltipPosition="right" (click)="removeTypeMedicine(i)"></button>
</div>
<button pButton type="button" icon="pi pi-plus" (click)="addTypeMedicine()" outlined="true" severity="info" pTooltip="Add" tooltipPosition="right"></button>
</div>
</div>
</p-fieldset>
</ng-template>