<p-toast></p-toast>
<div class = "flex align-items-center justify-content-between pt-2 pb-1">
    <div class = "flex align-items-center">
      <p-avatar [image]="srcImage + 'customer-service.png'" size="normal"/>
      <h3 class=" ml-4 text-2xl text-indigo-700">Customer Register</h3>
    </div>
    <button pButton icon="pi pi-times" class="p-button-rounded p-button-text" (click)="cancel()" style="height: 36px;"></button>
</div>
<div class="card">
    <form [formGroup] = "sMedicalForm">
        <div class="flex align-items-center gap-3 mb-3">
            <label for="" class="text-gray-800 w-4" i18n="@@fullName">Full Name</label>
            <input type="text" class="flex-auto" pInputText [readonly]="isReadOnly" formControlName = 'fullName'/>
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="" class="text-gray-800 w-4" i18n="@@gender">Gender</label>
            <div class="flex-auto w-8 ml-2">
              <p-radioButton
                name="gender"
                value="Male"
                label="Male"
                formControlName="gender"
                inputId="genderMale"
              ></p-radioButton>
              <p-radioButton
                class="ml-2"
                name="gender"
                value="Female"
                label="Female"
                formControlName="gender"
                inputId="genderFemale"
              ></p-radioButton>
      
        </div>
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="" class="text-gray-800 w-4" i18n="@@medicalẼamDay">Medical Examination Day</label>
            <input type="text" class="flex-auto" pInputText [readonly]="isReadOnly" formControlName = 'dateRegister'/>
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="" class="text-gray-800 w-4" i18n="@@timeRegister">Time Register</label>
            <input type="text" class="flex-auto" pInputText [readonly]="isReadOnly" formControlName = 'timeRegister'/>
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="" class="text-gray-800 w-4" i18n="@@phoneNumber">Phone Number</label>
            <input type="text" class="flex-auto" pInputText [readonly]="true" formControlName = 'phoneNumber'  />
        </div>
        
        <div class="flex align-items-center gap-3 mb-3">
            <label for="" class="text-gray-800 w-4" i18n="@@status">Status</label>
            <input type="text" class="flex-auto" pInputText [readonly]="true" formControlName = 'status'  />
        </div>

        <ng-container 
        *ngTemplateOutlet="lstHistoryRef; context: { item:{imageUrl:null,header:'List Medical History'} }" ngClass="mt-5" >
        </ng-container>
        
        <div class="flex justify-content-end gap-3 mb-3 mt-6">
                <p-button class="btn-bg" [raised]="true" *ngIf="isEdit" (click)="edit()" icon="pi pi-user-edit" label="Edit"></p-button>
                <p-button class="btn-bg" [raised]="true" (click)="saveEdit()" *ngIf="!isEdit" icon="pi pi-check" label="Save"></p-button>
                <p-button class="btn-bg" [raised]="true" (click)="examination()" label="Exam" icon="pi pi-caret-right"></p-button>
                <p-button class="btn-cancel" [raised]="true" (click)="cancel()" icon="pi pi-times" label="Close"></p-button>
        </div>
    </form>
</div>

<ng-template #lstHistoryRef let-item="item">
    <p-fieldset [toggleable]="true">
        <ng-template pTemplate="header">
            <div class="flex items-center gap-2 px-2">
                <p-avatar
                    image="/fe-customermanagementassets/images/history.png" shape="circle" />
                <span class="font-bold">{{item.header}}</span>
            </div>
          </ng-template>
          <div class="flex justify-content-center">  
            <p-table #dt [value]="historyList" [paginator]="true" [rows]="row" [rowsPerPageOptions]="[8,10,20]" class="w-full"
            styleClass = " p-datatable-sm" borderless="true">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let item of columnTitles" [ngClass]="item.style">{{ item.title }}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                <tr>
                    <td class="text-center">{{rowIndex+1}}</td>
                    <td class="text-left pl-3">{{item.fullName}}</td>
                    <td class="text-center">{{item.dateRegister}}</td>
                    <td class="text-center">{{item.timeRegister}}</td>
                    <td class="text-center">
                        <p-button class="" (click)="showHistory(item)" icon="pi pi-eye"  [text]="true"></p-button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-sMedicals>
                <tr>
                    <td colspan="6" style="text-align: center;">
                        No customers found
                    </td>
                </tr>
            </ng-template>
            </p-table>      
          </div>
</p-fieldset>
</ng-template>