<p-toast></p-toast>
<div class="card">
    <form [formGroup] = "sValidate">
        <div class="flex align-items-center gap-3 mb-3">
            <label class="font-semibold w-6rem">User Name</label>
            <input type="text" class="flex-auto" pInputText formControlName="username">
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label class="font-semibold w-6rem">Password</label>
            <p-password type="text" class="flex-auto" formControlName="password" ></p-password>
        </div>
        
        <div class="flex justify-content-end gap-3 mb-3">
            <p-button class="flex justify-content-center" (click)="login()">Login</p-button>
        </div>
    </form>
</div>