<p-toast></p-toast>
<div  class="card">
    <form [formGroup] = "sMoneyForm">
        <div class="flex align-items-center gap-3 mb-3">
            <label class="font-light w-4">Full Name</label>
            <input type="text" class="flex-auto" pInputText formControlName="fullName" [readonly]="isUpdate">
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label class="font-light w-4">Medical Examination Day</label>
            <input type="text" class="flex-auto" pInputText formControlName="dayOfExamination" [readonly]="isUpdate">
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label class="font-light w-4">Status</label>
            <input type="text" class="flex-auto" pInputText formControlName="status" [readonly]="isUpdate">
        </div>
        <div class="flex align-items-center gap-3 mb-3">
            <label class="font-light w-4">Total Money</label>
            <input type="text" class="flex-auto" pInputText formControlName="totalMoney" [readonly]="isUpdate">
        </div>
        <div class="flex justify-content-end gap-3 mb-3">
            <p-button class="btn-bg" *ngIf="isUpdate" (click)="edit()" label="Edit" [raised]="true"></p-button>
            <p-button class="btn-bg" (click)="save()" label="Save" [raised]="true"></p-button>
            <p-button class="btn-cancel" (click)="close()" label="Close" [raised]="true"></p-button>
        </div>
    </form>
</div>