<!-- Overlay khi đang load -->
<!-- <div *ngIf="isLoading" class="h-full flex align-items-center justify-content-center">
  <p-progressSpinner ariaLabel="Loading"></p-progressSpinner>
</div> -->

<!-- Chỉ render form khi đã load xong -->
<div *ngIf="!isLoading; else loading"  class="fade-in-scale p-2">
  <div class="flex align-items-center justify-content-between pt-2 pb-1">
    <div class="flex align-items-center">
      <p-avatar [image]="srcImage + 'menuheader.png'" size="normal"></p-avatar>
      <h3 class="ml-4 text-2xl text-indigo-700">Config</h3>
    </div>
    <button pButton icon="pi pi-times" class="p-button-rounded p-button-text" 
            (click)="cancel()" style="height: 36px;">
    </button>
  </div>

  <form [formGroup]="configForm" class="card">
    <div class="grid">
      <div class="col-12" formArrayName="options">
        <div *ngFor="let opt of optionsFormArray.controls; let i = index"
             [formGroupName]="i"
             class="grid align-items-center mb-3">
          <div class="col-3 flex items-center">
            <label class="font-medium">{{ opt.get('label')?.value }}</label>
          </div>
          <div class="col-9 flex justify-end items-center">
              <ng-container [ngSwitch]="opt.get('type')?.value">
                <p-inputSwitch *ngSwitchCase="'switch'" formControlName="value"></p-inputSwitch>
                <input pInputText *ngSwitchDefault pInputText formControlName="value" class="w-full" />
              </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-content-end gap-2">
      <p-button icon="pi pi-save"  (click)="save()" label="Save" styleClass="p-button-sm"
       [raised]="true" [rounded]="true" class="btn-bg"></p-button>
      <p-button (click)="cancel()" label="Close" icon="pi pi-times" styleClass="p-button-sm"
      [raised]="true" [rounded]="true" class="btn-cancel"></p-button>
    </div> 
   

  </form>

</div>
<ng-template #loading>
  <p-progressSpinner></p-progressSpinner>
</ng-template>