/* You can add global styles to this file, and also import other style files */
@import 'primeng/resources/primeng.min.css';
@import 'primeng/resources/themes/md-light-deeppurple/theme.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

body{
  margin: 0;
  background: #fff8dcc2;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Chiếm full chiều cao màn hình */
}

.content {
  flex: 1; /* Chiếm phần không gian còn lại */
}


  .p-panel{
    box-shadow: rgb(0 0 0 / 29%) 0px 4px 8px;
   
}
.p-panel-content{
    padding-bottom: 5px;
    padding-top: 1rem;
}

.p-toolbar{
  background: #fff8dcc2;
  border-bottom: none;
  border-radius: 0;
  //border-top-left-radius: 10px;
  //border-top-right-radius: 10px;
}

.p-menubar{
  background: #fff8dcc2;
  //background: #673ab780;
}

.card .p-toolbar .p-toolbar-group-center {
  display: flex;
  justify-content: center;
  width: 50%; /* Đặt chiều rộng tùy chỉnh cho phần center */
}
.p-panel-header{
  background: #fff8dcc2;
}

.p-button{
  background: #f6df82;
  color:#a0522d;
}

.custom-label{
  color:#a0522d;
}
