/* You can add global styles to this file, and also import other style files */
@import 'primeng/resources/primeng.min.css';
@import 'primeng/resources/themes/md-light-deeppurple/theme.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

:root {
  --primary-color: #0A48B3;
  --secondary-color: #2ecc71;
  --font-size: 16px;
  --panel-color: #f8f9fe;
  --footer-color:#f8f9fe;
  --body-color:#ffffff;
  --table-color:#f8f9fe;
}


body{
  margin: 0;
  //background: #ffffff;
  background-color: var(--body-color);
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Chiếm full chiều cao màn hình */
}

.content {
  flex: 1; /* Chiếm phần không gian còn lại */
}

.p-panel-header{
  background: var(--panel-color);
}
.p-panel-content{
    padding-bottom: 5px;
    padding-top: 1rem;
    background: var(--panel-color);
}

.p-toolbar{
  background: var(--primary-color);
  border-bottom: none;
  border-radius: 0;
}
.p-menuitem-text{
  color: #ffffff;
}

.p-menubar{
  background: var(--primary-color);
  color: #ffffff;
}

.card .p-toolbar .p-toolbar-group-center {
  display: flex;
  justify-content: center;
  width: 50%; /* Đặt chiều rộng tùy chỉnh cho phần center */
}


.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-content .p-menuitem-link .p-submenu-icon {
  color: #ffffff;
}
.p-submenu-list{
  background: var(--primary-color);
  color: #ffffff;
  border-radius: 0;
}
.custom-label{
  color:#a0522d;
}

.p-calendar .p-inputtext {
  border-radius: 1.5rem;
}
.p-inputtext {
  border-radius: 1.5rem;
}



/* Tùy chỉnh kiểu của trang pagination */
.p-paginator {
  background-color: var(--table-color);
  //border: 1px ;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 3rem;
  padding: 0;
}

/* Tùy chỉnh các nút phân trang */
.p-paginator button {
  background-color: var(--table-color);;
  color: #a0522d;
  border-radius: 4px;
  border: none;
  height: 2rem;
}

.p-paginator button:hover {
  background-color: #f6df82;
}

/* Tùy chỉnh phần text trong trang phân trang */
.p-paginator .p-paginator-pages {
  color: var(--table-color);;
  height: 2.2rem;
}

.p-paginator-rpp-options {
  //height: 2rem;
  height: 2.2rem;
  background:var(--table-color);;
  border:1px solid #a0522d;
}
.p-paginator-rpp-options > span {
  padding: 0.5rem;
  color: #a0522d;
  
}
.p-paginator-prev{
  height: 2rem;
}
.p-paginator-bottom {
  
  border-bottom:1px solid #e4e4e4;
}

.p-dropdown .p-dropdown-trigger {
  background: transparent;
  color: #a0522d;
}
thead tr{
  height: 3rem;
}
tr th{
  text-align: center;
  color:#a0522d;
  background: var(--table-color);
  font-weight: bold;
  font-size: 16px;
  height: 2rem;
}

tr td{
  background: var(--table-color);
  color:#a0522d;
}

