/* You can add global styles to this file, and also import other style files */
@import 'primeng/resources/primeng.min.css';
@import 'primeng/resources/themes/md-light-deeppurple/theme.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

// import Quill styles in styles.scss
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";

:root {
  --primary-color: #0A48B3;
  --secondary-color: #2ecc71;
  --font-size: 16px;
  --panel-color: #f8f9fe;
  --footer-color:#f8f9fe;
  --body-color:#ffffff;
  --table-color:#f8f9fe;
  --text-color:black;
  --fontsize-status:14px;
  --color-border:#e4e4e4;
  --color-paginator-button:#111c2d;
  --text-color-input:#3e4759;
}


body{
  margin: 0;
  background-color: var(--body-color);
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Chiếm full chiều cao màn hình */
}

.content {
  flex: 1; /* Chiếm phần không gian còn lại */
}

.p-panel-header{
  background: var(--panel-color);
}
.p-panel-content{
    padding-bottom: 5px;
    padding-top: 1rem;
    background: var(--panel-color);
}

.p-toolbar{
  background: var(--primary-color);
  border-radius: 0;

}
.p-menuitem-text{
  color: #ffffff;
}

.p-menubar{
  background: var(--primary-color);
  color: #ffffff;
}

.card .p-toolbar .p-toolbar-group-center {
  display: flex;
  justify-content: center;
  width: 50%; /* Đặt chiều rộng tùy chỉnh cho phần center */
}


.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-content .p-menuitem-link .p-submenu-icon {
  color: #ffffff;
}
.p-submenu-list{
  background: var(--primary-color);
  color: #ffffff;
  border-radius: none;
}

.p-calendar .p-inputtext {
  border-radius: 4px;
}
.p-inputtext {
  border-radius: 4px;
  height: 1rem;
  color: var(--text-color-input);
}



/* Tùy chỉnh kiểu của trang pagination */
.p-paginator {
  background-color: var(--table-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 3rem;
  padding: 0;
}

/* Tùy chỉnh các nút phân trang */
.p-paginator button {
  background-color: var(--table-color);;
  color: var(--color-paginator-button);
  border-radius: 4px;
  border: none;
  height: 2rem;
}

.p-paginator button:hover {
  background-color: #f6df82;
}

/* Tùy chỉnh phần text trong trang phân trang */
.p-paginator .p-paginator-pages {
  color: var(--table-color);
  height: 2.2rem;
}

.p-paginator-rpp-options {
  height: 2.2rem;
  background:var(--table-color);
  border:1px solid #e4e4e4;
  border-radius: 16px;
}
.p-paginator-rpp-options > span {
  padding-top: 0.5rem;
  
  
}
.p-paginator-prev{
  height: 2rem;
}
.p-paginator-bottom {
  border-bottom:1px solid var(--color-border);
}

.p-dropdown .p-dropdown-trigger {
  background: transparent;
  color: var(--color-border);
}
thead tr{
  height: 3rem;
}
tr th{
  text-align: center;
  color:var(--text-color);
  background: var(--table-color);
  font-weight: bold;
  font-size: 16px;
  height: 2rem;
}

tr td{
  background: var(--table-color);
  color:var(--text-color);
}

.bg-active {
  background-color: #00a1ff26 !important;
  color: #00a1ff !important;
  font-weight: 500 !important;
  font-size: var(--fontsize-status) !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  border-radius: 25px !important;
}

.bg-disable {
  background-color: #fb977d26 !important;
  color: #fb977d !important;
  font-weight: 500 !important;
  font-size: var(--fontsize-status) !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  border-radius: 25px !important;
}

.bg{
  background: var(--table-color);
  border-top: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: none;
}

.frame{
  border-left:1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
}

.p-dialog .p-dialog-content {
  padding-bottom: 0;
}

.p-dialog .p-dialog-title {
  font-weight: 600;
  font-size: 22px;
  color: #1769aa;
}



.btn-cancel .p-button{
  background: #fb977d !important;
}

.btn-bg .p-button{
  background: #0085db !important;
}
