<!-- Wrapper tổng bao toàn bộ -->
<div style="position: relative; height: 40px; width: 100vw;" class ="mt-1">

  <div class="flex align-items-center justify-content-center gap-2">
    <p-button  (click)="autoScaleChart(0)" 
     label="On" [raised]="true" icon="pi pi-lock-open" [rounded]="true" severity="info"></p-button>
    <p-button  (click)="autoScaleChart(1)" 
     label="Off" [raised]="true" icon="pi pi-power-off" [rounded]="true" severity="info"></p-button>
  </div>
  </div>

  <div #chartWrapper
  class="card flex justify-content-center align-items-center overflow-y-auto mt-1 overflow-x: hidden;"
  style="position: relative; height: 95vh; width: 95vw;">

    <p-organizationChart  #chartInner
    [value]="orData" 
    selectionMode="multiple" 
    [(selection)]="selectedNodes" 
    [collapsible]="true"
    class="w-full h-full">
        
      <ng-template let-node pTemplate="person">
        <div class="p-2 text-center">
          <img 
            [src]="node.data.image" 
            class="mb-3 w-3rem h-3rem" />
          <div class="font-bold">
            {{ node.data.name }}
          </div>
          <div>
            {{ node.data.title }}
          </div>
        </div>
      </ng-template>
  
    </p-organizationChart>
  </div>

  