<p-toast></p-toast>
<div id="card" class="mt-1 w-12"> 
    <p-progressSpinner ariaLabel="Loading" *ngIf="isLoading" class="flex justify-content-center"/> 
    <div class="flex justify-content-center w-full">
        <div class="bg flex-column align-items-center justify-content-center w-full h-6rem p-4">
          <div class="flex align-items-center gap-4 w-full">
            <h4 class="text-indigo-700 m-0 flex justify-content-start text-xl ">List Of Menu</h4>            
              <div class="flex-grow-1"></div>
              <span class="p-input-icon-left w-full max-w-25rem flex justify-content-center align-items-center">
                <i class="pi pi-search"></i>
                 <input pInputText placeholder="Search" class="w-full border-round-3xl h-2rem"
                  [(ngModel)] = "searchValue" (keydown)="search($event)"  /> 
                </span>
                <div class="flex-grow-1"></div>
              <div class="h-3rem flex  gap-2 align-items-center justify-content-end">
                <p-button type="button" label="Search" severity="info" (click)="onGlobalFilter()"
                 [raised]="true" [rounded]="true" icon="pi pi-search"></p-button>
                <p-button type="button" label="Create" (click)="add()" [rounded]="true" severity="info" icon="pi pi-plus"></p-button>
              </div>
          </div>
        </div>
      </div>
      <div class="frame">
        <p-confirmDialog key="dialogMain" [styleClass]="'w-3'">
            <ng-template pTemplate="header">
                <div class="flex flex-column align-items-center w-full gap-3">
                    <span class="flex justify-content-between w-full">
                        <p>Are you sure</p>
                        <!-- Button to close the dialog with "X" -->
                        <button type="button" class="p-link" (click)="closeDialog()">
                            <i class="pi pi-times"></i> <!-- "X" icon -->
                        </button>
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="message" let-message>
                <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
                    <i class="pi pi-exclamation-triangle text-6xl text-primary-500"></i>
                    <p>{{ message.message }}</p>
                </div>
            </ng-template>
        </p-confirmDialog>
    <p-treeTable [value]="menus" [columns]="columnTitles"  class="w-full"   
    styleClass ="p-datatable-sm fixed-table" #dt1>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let item of columnTitles" [ngStyle]="item.style" >{{ item.title }}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr >
                <td *ngFor="let col of columns; let i = index; let last = last" [ngStyle]="col.style" [ngClass] = "col.class" >
                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0" />
                    <p-button class="" (click)="show(rowData)" icon="pi pi-eye" [text]="true" *ngIf="col.field == 'action'"></p-button>
                    <p-button class="" (click)="delete(rowData)" icon="pi pi-trash" [text]="true" *ngIf="col.field == 'action'"></p-button>
                    <ng-template [ngIf]="col.field !== 'action' && col.field !== 'status'">
                        {{ rowData[col.field] }}
                    </ng-template>

                
                        <span class="p-button flex justify-content-center "  *ngIf="col.field == 'status'"
                            [ngClass]="{'bg-active': rowData.status == 'Active', 'bg-disable': !(rowData.status == 'Active')}"
                            style="padding-top: 6px !important;padding-bottom: 6px !important;">
                            {{rowData.status}} 
                        </span>
                 
                    
                </td>
               
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div style="text-align:left">
                <p-button icon="pi pi-refresh" label="Reload" severity="warning" (click)="reload()" />
            </div>
        </ng-template>
        </p-treeTable>
    </div>
</div>