<button (click)="login()">Login with Facebook</button>
<button (click)="getProfile()">Get Profile</button>
<button (click)="getPageAccessToken()">Get Page</button>
<button (click)="postMessage()">Post Page</button>
<button (click)="postComment()">Post Comment</button>
<button (click)="listPost()">List Post</button>
<button (click)="getComment()">List Comment</button>
<h3 *ngIf="username">Hello {{username}}</h3>

<div>
  <h4>List Post</h4>
  <ul>
    <li *ngFor="let post of posts">
      <strong>ID:</strong> {{ post.id }} <br>
      <strong>Message:</strong> {{ post.message || 'No message' }} <br>
      <strong>Time:</strong> {{ post.created_time }} <br>
      <a [href]="post.permalink_url" target="_blank">Link to post</a>
      <hr>
    </li>
  </ul>
</div>

<div>
  <h4>List Comment</h4>
  <ul>
    <li *ngFor="let c of comments">
       <strong>ID     :</strong> {{ c.id }} <br>
       <strong>From   :</strong> {{ c.from.name }} <br>
       <strong>Message:</strong> {{ c.message || 'No message' }} <br>
      <hr>
    </li>
  </ul>
</div>
