
:host{
  display: flex;
  justify-content: center;
}

.bg{
  background: var(--table-color);
  //border: 1 px solid var(--table-color);
  border-top: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: none;
}