.custom-button {
  height: 40px; /* Đặt chiều cao cho p-button */
  font-size: 16px; /* Tùy chỉnh kích thước chữ nếu cần */
  line-height: 40px; /* Căn giữa văn bản theo chiều dọc */
  margin-right: 25%;
}